html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: seashell;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav {
  height: 3rem;
  background-color: black;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .navbar {
} */


.navbar li {
  display: inline-block;
  text-decoration: underline;
  margin: 0 .5em;
  overflow: hidden;
}

.logo {
  display: inline-block;
  height: 50px;
  width: auto;
  margin-left: .4em;
}

main {
  background-color: black;
  opacity: .9;
  position: relative;
  z-index: 0;
  top: 3rem;
}

.hero-container {
  min-height: 700px;
  width: 90%;
  margin: 0 auto;
  background-image: url("../images/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.mission {
  background-color: rgb(0, 0, 0, .9);
  color: white;
  text-align: center;
  width: 100%;
}

.selection {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 3em;
}

.card-container {
  min-height: 600px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  overflow: auto;
}

.card {
  margin: .4rem;
  align-items: center;
  /* flex-wrap: wrap; */
}

.card img {
  height: 200px;
  width: auto;
}

.location {
  padding-top: 3rem;
  background-image: url("../images/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 90%;
  min-height: 500px;
  margin: 3em auto 0 auto;
  text-align: center;
}

.location h2 {
  margin: .6rem;
}

.location-card {
  background-color: rgba(0, 0, 0, .8);
  width: 300px;
  height: 50%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  margin: .6rem .9rem;
}

.location-card span {
  display: block;
}

.contact {
  min-height: 200px;
  padding-bottom: .9em;
  margin: 0 auto;
  text-align: center;
}

footer {
  text-align: left;
}